<!DOCTYPE html>
<html>
  <head>
    <title>SkipperApp2nd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div id="container">
      <div id="theTarget">
        <div class="test6"></div>
        <div class="test7"></div>
        <div class="test8"></div>
        <div class="test9"></div>
        <div class="test10"></div>
      </div>
    </div>
  </body>
</html>
